* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto", sans-serif;
}

body {
  width: 100%;
  height: 100%;
  background-color: white;
  user-select: none;
}

.navMenu {
  width: 80vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
}

.navList {
  width: 80vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
}

.navItem {
  margin-left: 3vw;
  font-size: 1.2rem;
}

.navItem a {
  color: black;
  transition: 0.3s;
}

.navItem a:hover {
  color: rgb(75, 75, 75);
}

.navItem:first-child {
  margin-left: 5vw;
  font-size: 2rem;
}

.navBuy {
  margin-right: 5vw;
}

.navBuy img {
  width: 1.2vw;
  transition: 0.5s;
}

.navBuy img:hover {
  transform: scale(1.2);
}

.container {
  width: 80vw;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerBox {
  width: 80vw;
  height: 90vh;
  display: flex;
}

.firstBox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.boxInfo {
  width: 80vw;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.title {
  font-size: 3.5rem;
  font-weight: 400;
}

.textBox {
  font-size: 1.7em;
  font-weight: 100;
}

.buyBtn {
  width: 13vw;
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: black;
  color: white;
  padding: 10px 40px;
  font-size: 1.3rem;
  border-radius: 0.2vw;
  transition: 0.5s;
}

.secondBox {
  height: 80vh;
  background-image: url("https://images.unsplash.com/photo-1620799140408-edc6dcb6d633?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3wyMDUzMDJ8MHwxfHNlYXJjaHwzfHxsb25nJTIwc2xlZXZlJTIwdHNoaXJ0fGVufDF8fHx8MTY5MDIyODg0Mnww&ixlib=rb-4.0.3&q=80&w=1080");
  background-size: cover;
  background-position: center;
  border-radius: 0.2vw;
}

.container-model h2 {
  margin-top: 20vh;
  margin-bottom: 20vh;
  font-size: 2.3rem;
  font-weight: 300;
}

.boxClothes {
  width: 80vw;
  height: 70vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.clothes {
  width: 24vw;
  height: 70vh;
  transition: 0.5s;
  border-radius: 0.3vw 0.3vw 0.5vw 0.5vw;
}

.clothes h3 {
  margin-top: 4vh;
  font-size: 1.5rem;
  font-weight: 400;
}

.clothes:hover {
  transform: scale(1.01);
  background-color: rgba(144, 144, 144, 0.1);
}

.card {
  text-decoration: none;
  color: black;
}

.boxImage {
  width: 24vw;
  height: 60vh;
  background-position: center;
  background-size: cover;
  border-radius: 0.3vw 0.3vw 0 0;
}

.firstImage {
  background-image: url("https://images.unsplash.com/photo-1627910016961-ee310ef0b108?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3wyMDUzMDJ8MHwxfHNlYXJjaHwyM3x8dHNoaXJ0fGVufDF8fHx8MTY5MDIyNzk0MHww&ixlib=rb-4.0.3&q=80&w=1080");
}

.secondImage {
  background-image: url("https://images.unsplash.com/photo-1512327428889-607eeb19efe8?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3wyMDUzMDJ8MHwxfHNlYXJjaHwzMHx8dHNoaXJ0fGVufDF8fHx8MTY5MDIyNzk0MHww&ixlib=rb-4.0.3&q=80&w=1080");
}

.thirdImage {
  background-image: url("https://images.unsplash.com/photo-1622567893612-a5345baa5c9a?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3wyMDUzMDJ8MHwxfHNlYXJjaHwyfHxob29kaWVzfGVufDF8fHx8MTY5MDIyODg5MXww&ixlib=rb-4.0.3&q=80&w=1080");
}

.container-form {
  width: 60vw;
  height: 30vh;
  margin-top: 10vh;
  text-align: left;
}

.container-form h3 {
  font-size: 1.7rem;
  font-weight: 600;
  margin-bottom: 5vh;
}

#inputName,
button {
  margin-left: 4vw;
}

input {
  border: 0;
  background-color: rgb(189, 189, 189);
  padding: 0.5vh 1vw;
  color: black;
}

input:hover {
  background-color: rgb(172, 172, 172);
}

input,
button {
  width: 25vw;
  height: 6vh;
  text-align: left;
  outline: 0;
  margin-bottom: 5vh;
  font-size: 1rem;
  border-radius: 0.2vw;
  transition: 0.5s;
}

button {
  width: 15vw;
  border: 0;
  background-color: black;
  color: white;
  font-weight: 400;
  cursor: pointer;
  text-align: center;
}

button:hover,
.buyBtn:hover {
  background-color: rgb(56, 56, 56);
}

.footerBox {
  width: 80vw;
  height: 25vh;
  margin: 2vh auto;
}

.footer-menu {
  width: 80vw;
  height: 25vh;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
