* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto", sans-serif;
}

body {
  width: 100%;
  height: 100%;
  background-color: white;
  user-select: none;
}

.navMenu {
  width: 80vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
}

.navList {
  width: 80vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
}

.navItem {
  margin-left: 3vw;
  font-size: 1.2rem;
}

.navItem a {
  color: black;
  transition: 0.3s;
}

.navItem a:hover {
  color: rgb(75, 75, 75);
}

.navItem:first-child {
  margin-left: 5vw;
  font-size: 2rem;
}

.navBuy {
  margin-right: 5vw;
}

.navBuy img {
  width: 1.2vw;
  transition: 0.5s;
}

.navBuy img:hover {
  transform: scale(1.2);
}

.container {
  width: 80vw;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerBox {
  width: 80vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.title {
  font-size: 3rem;
  font-weight: 300;
  margin-top: 5vh;
  margin-left: 8vw;
}

.paragraph {
  width: 55vw;
  text-align: justify;
  line-height: 1.7rem;
  font-size: 1.3rem;
  font-weight: 200;
  margin-top: 4vh;
  margin-left: 10vw;
}

.container-form {
  width: 60vw;
  height: 30vh;
  margin-top: 10vh;
  text-align: left;
}

.container-form h3 {
  font-size: 1.7rem;
  font-weight: 600;
  margin-bottom: 5vh;
}

#inputName,
button {
  margin-left: 4vw;
}

input {
  border: 0;
  background-color: rgb(189, 189, 189);
  padding: 0.5vh 1vw;
  color: black;
}

input:hover {
  background-color: rgb(172, 172, 172);
}

input,
button {
  width: 25vw;
  height: 6vh;
  text-align: left;
  outline: 0;
  margin-bottom: 5vh;
  font-size: 1rem;
  border-radius: 0.2vw;
  transition: 0.5s;
}

button {
  width: 15vw;
  border: 0;
  background-color: black;
  color: white;
  font-weight: 400;
  cursor: pointer;
  text-align: center;
}

button:hover,
.buyBtn:hover {
  background-color: rgb(56, 56, 56);
}

.footerBox {
  width: 80vw;
  height: 25vh;
  margin: 2vh auto;
}

.footer-menu {
  width: 80vw;
  height: 25vh;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
